$midnight-black: #333;
$back-header: rgb(80, 145, 48);
$back-slogan: rgba(255, 255, 255, 0.5);
$color-h1-produit: #A63F03;
$color-h6-produit: #260101;
$color-h1-offres: #A63F03;
$grey-background: #F2F2F2;
$green-color: #9fa672;

#home {
  background-image: url("/assets/img/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  height: 100%;
}

.slogan {
  a {
    margin-top: 10%;
    color: black;
    text-decoration: none;
  }

  h1 {
    font-weight: bold;
    color: Black;
  }

  h5 {
    color: Black;
  }
  height: 45%;
  width: 50%;
  margin-top: 250px;
  background: $back-slogan;
  float: right;
}
//Qui sommes-nous section

#quiSommeNous {
  background-color: white;
  height: 80%;

  h5 {
    color: black;
  }

  a {
    color: Black;
    position: relative;
    top: -10px;
    text-align: center;
    text-decoration: none;
  }

  #header {
    height: 2px;
    width: 50%;
    background-color: $back-header;
    box-shadow: 5px 3px 3px grey;
  }
}

#notreProduit {
  height: 100%;
  padding-top: 5%;
  position: relative;

  h6 {
    font-weight: bold;
    color: $color-h6-produit;
  }

  .firstBack {
    background: url("/assets/img/madrier.jpg") red;
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    position: absolute;
    margin-left: 10%;
    opacity: 0.7;
    width: 40%;
    height: 90%;

    h1 {
      color: $color-h1-produit;
      position: relative;
      top: 10%;
      left: 10%;
      font-weight: bold;
    }
  }

  .secondBack {
    background: url("/assets/img/Rectangle 1103.jpg") green;
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    position: absolute;
    width: 100%;
    height: 40%;
    top: 50%;
  }

  .thirdback {
    background: url("/assets/img/element-1.jpg") black;
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    position: absolute;
    top: 20%;
    left: 40%;
    width: 30%;
    height: 40%;

    div span {
      background: url("/assets/img/icons/Buttons-Play.png");
    }
  }

  .textBack {
    position: absolute;
    top: 70%;
    left: 20%;
  }
}
//Nos nosRealisations

#nosRealisations {
  h1{
    color: $color-h1-offres;
    font-weight: bold;
  }

  .container .card{
    border: none;
    h5{
      background: $green-color;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .container .upButton{
    margin-left: 44%;
  }

  .container a {
  text-align: center;
  background:$green-color;
  }
}
//NOS OFFRES

#nosOffres {

  div {
    height: 100%;

    h1 {
      color: $color-h1-offres;
    }
  }

  div div div {
    background: url("/assets/img/offre.png");
    background-repeat: no-repeat;
    width: auto;
    padding-top: 5%;

    h5 {
      margin-left: 30%;
      color: white;
      font-weight: bold;
    }

    h6 {
      width: 70%;
      color: white;
      font-weight: bold;
    }

    a {
      float: right;
      margin-right: 30%;
      margin-top: 10%;
      color: white;
      font-size: xx-small;
    }

    .prix {
      padding-top: 30%;
      color: white;
    }

    p {
      width: 70%;
      font-size: xx-small;
      color: white;
    }
  }
}

#nousRejoindre {
  .headerPage {
    background-color: $color-h1-offres;
    height: 100px;

    h5 {
      color: white;
      text-align: center;
      font-weight: bold;
      vertical-align: middle;
      line-height: 100px;
    }
  }

  #exampleModalCenter2 {}

  div div div {
    background: $grey-background;

    h6 {
      text-align: center;
    }

    .firstP {
      width: 70%;
      font-weight: bold;
      font-size: xx-small;
    }

    div {
      float: left;
    }

    .secondP {
      font-weight: bold;
      font-size: xx-small;
    }
  }

  .middlePage {
    height: 15px;
    background: $grey-background;
  }
}

#lastPart {
  .lastPart {
    h1 {
      text-align: center;
      font-weight: bold;
      color: $color-h1-offres;
    }

    .backPart {
      div a {
        #icon1 {
          margin-left: 50%;
          margin-right: 1%;
        }

        #icon2 {
          margin-right: 1%;
        }
      }

      .sousTitres {
        margin-top: 5%;
        color: white;
        margin-bottom: 5%;
        padding-top: 20%;
      }
    }
  }
}
