{% extends 'layout/layout.twig' %}

{% block css %}
  {% webpack_entry_css 'home/home' %}
{% endblock %}

{% block body %}
  <section id="home">

    <div class="">
      <nav class="container navbar navbar-expand-md navbar-dark">
        <a href="{{ url_for('root') }}">
          <h1 class="text-white" data-text="VITOBOIS">VIT'O BOIS</h1>
        </a>

        <div class="collapse navbar-collapse justify-content-center" id="myNavbar">
          <ul class="nav nav-pills navbar-nav text-white">

            <li class="nav-item">
              <a class="nav-link text-white" href="#quiSommeNous">Qui sommes-nous</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#notreProduit">Notre produit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#nosOffres">Nos packs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#notreProduit">Méthode de travail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#portfolio">Mention légales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#nousRejoindre">Nous rejoindre</a>
            </li>
            <li></li>

          </ul>
        </div>
      </nav>

      <div class="slogan text-left">
        <div class="m-5 pr-5">
          <h1>SLOGAN</h1>
          <h5 class="mb-5">
            Construction de maison en bois
            <br>
            Maison à faible consommation
            <br>
            Solutions écologiques
            <br>
            Matériel naturel et sain
            <br>
            Construction écologique et économique
          </h5>
          <a href="#notreProduit">Nos Réalisations</a>

        </div>

      </div>
    </div>

  </section>

  <section id="quiSommeNous">
    <h1 class="p-5 ml-5">Qui sommes nous?</h1>

    <div class="container ">
      <div class="row justify-content-between">
        <div class="col-4" id="header"></div>
        <div class="col-4" id="header"></div>
      </div>

      <div class="row justify-content-between">
        <h5 class="col-4 p-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore mag erat, sed diam voluptua. At eos et accusam et justo duo dolores et rebum. Stet clita kasd gubergren takimata
          sanctus est Lorem ipsum dolor sit amet. Lorem dolormet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor in labore magna aliqyam erat, sed diam voluptua. At veros et accusam et justo duo dolores et ea rebum. Stet kasd gubergren, no sea
          takimata sanctus est
        </h5>
        <img class="col-4 mb-5" src="/assets/img/icons/Plan de travail 6-100.jpg" alt="">

        <h5 class="col-4 p-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore mag erat, sed diam voluptua. At eos et accusam et justo duo dolores et rebum. Stet clita kasd gubergren takimata
          sanctus est Lorem ipsum dolor sit amet. Lorem dolormet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor in labore magna aliqyam erat, sed diam voluptua. At veros et accusam et justo duo dolores et ea rebum. Stet kasd gubergren, no sea
          takimata sanctus est
        </h5>
      </div>

      <div class="row">
        <div class="col-8" id="header"></div>
        <a class="col-3" href="#">Nos méthodes de travail</a>
        <div class="col-1" id="header"></div>
      </div>

    </div>

  </section>

  <section class="mb-5" id="notreProduit">

    <div class="secondBack"></div>

    <div class="firstBack">
      <h1>NOTRE PRODUIT</h1>
    </div>

    <div class="thirdback"></div>

    <div class="textBack container">
      <button class="btn bg-transparent" type="button" data-toggle="modal" data-target="#exampleModalCenter" name="button">
        <h6>Lien d'une vidéo ou diaporama</h6>
      </button>

      <!-- Modal -->
      <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Nos Réalisations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Carousel -->
            <div class="modal-body">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="/assets/img/home.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/assets/img/home.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/assets/img/home.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <h6 class="mt-5">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
      </h6>
    </div>

  </section>

  <section id="nosRealisations" style="padding-bottom:10%">
    <div class="container">
      <h1>NOS REALISATIONS</h1>

      <div class="row">
        <div class="card col-4">
          <img class="card-img-top" src="/assets/img/Trac.jpg" alt="Card image cap">
          <h5 class="card-title">Card title</h5>

          <a id="1" href="#nosRealisations" class="downButton1 pb-1" style=""><img src="/assets/img/icons/Tracé 211.png" alt="">
          </a>

          <div id="body1" class="card-body " style="background:url('/assets/img/Trac2.jpg')">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a id="1" href="#nosRealisations" class="upButton pb-1" style=""><img src="/assets/img/icons/Tracé 211up.png" style="" alt=""></a>
          </div>
        </div>

        <div class="card col-4" style="">
          <img class="card-img-top" src="/assets/img/Trac.jpg" alt="Card image cap">
          <h5 class="card-title">Card title</h5>

          <a id="2" href="#nosRealisations" class="downButton2 pb-1" style=""><img src="/assets/img/icons/Tracé 211.png" alt="">
          </a>

          <div id="body2" class="card-body " style="background:url('/assets/img/Trac2.jpg')">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a id="2" href="#nosRealisations" class="upButton pb-1" style=""><img src="/assets/img/icons/Tracé 211up.png" alt=""></a>
          </div>
        </div>

        <div class="card col-4" style="">
          <img class="card-img-top" src="/assets/img/Trac.jpg" alt="Card image cap">
          <h5 class="card-title">Card title</h5>

          <a id="3" href="#nosRealisations" class="downButton3 pb-1" style=""><img src="/assets/img/icons/Tracé 211.png" alt=""></a>

          <div id="body3" class="card-body " style="background:url('/assets/img/Trac2.jpg')">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a id="3" href="#nosRealisations" class="upButton pb-1" style=""><img src="/assets/img/icons/Tracé 211up.png" alt=""></a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="" id="nosOffres">

    <div class="container">
      <h1 class="mb-5">
        <strong>NOS OFFRES</strong>
      </h1>

      <div class="row pt-5 pb-5">
        <div id="1" class="offre1 col-4" style="">
          <h5 class="mt-5">Title</h5>
          <h6 class="">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,</h6>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
          </p>
          <a id="1" class="enSavoirPlus" href="#nosOffres">En savoir plus</a>
          <a id="r1" class="reduire" href="#nosOffres">Reduire</a>


          <h6 class="prix">prix</h6>
        </div>

        <div id="2" class="offre2 col-4" style="">
          <h5 class="mt-5">Title</h5>
          <h6 class="">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,</h6>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
          </p>
          <a id="2" class="enSavoirPlus" href="#nosOffres">En savoir plus</a>
          <a id="r2" class="reduire" href="#nosOffres">Reduire</a>


          <h6 class="prix">prix</h6>
        </div>

        <div id="3" class="offre3 col-4">
          <h5 class="mt-5">Title</h5>
          <h6 class="">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,</h6>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
          </p>
          <a id="3" class="enSavoirPlus" href="#nosOffres">En savoir plus</a>
          <a id="r3" class="reduire" href="#nosOffres">Reduire</a>


          <h6 class="prix">prix</h6>
        </div>

      </div>

    </div>

  </section>

  <section class="" id="nousRejoindre">
    <div class="headerPage text-center align-middle">
      <h5>
        <strong>NOUS REJOINDRE</strong>
      </h5>
    </div>

    <div class="partenaires container">

      <div class="part1 row justify-content-around mt-5">

        <div class="carte col-3 p-4">

          <div class="">

            <h6 class="">
              <strong>Si vous êtes ...</strong>
            </h6>

            <p class="firstP">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
            </p>

          </div>
          <p class="secondP">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          </p>

        </div>

        <div class="col-3 p-4">

          <div class="">

            <h6 class="">
              <strong>Si vous êtes ...</strong>
            </h6>

            <p class="firstP">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
            </p>

          </div>
          <p class="secondP">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          </p>

        </div>

      </div>
      <button type="button" class="btn btn-transparent float-right" data-toggle="modal" data-target="#exampleModalCenter2">
        Nous rejoindre
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Formulaire</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 middlePage">
      <span></span>
    </div>
  </section>

  <section id="lastPart" class="mt-5">
    <div class="lastPart mb-5 h-100" style="">
      <h1 class="mb-5">Nos Partenaires</h1>
      <div class=" container">
        <img id="" class="" src="/assets/img/icons/logo_fictif-2.png" alt="">
      </div>

      <div class="backPart mt-5" style="background:url('/assets/img/backPart.png');background-repeat: no-repeat;background-position: center; background-size: cover;">

        <div class="container">
          <div class="row sousTitres" style="">

            <div class=" col-4">
              <h4>Sous-titres</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore diam
                nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>
            <div class=" col-4">
              <h4>Sous-titres</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore diam
                nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>
            <div class=" col-4">
              <h4>Sous-titres</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore diam
                nonumy eirmod tempor invidunt ut labore et dolore
              </p>

            </div>

          </div>
          <div class="bg-transparent w-100 container pb-5 ">

            <a href="#"><img id="icon1" class="" src="/assets/img/icons/Twitter.png" style="" alt=""></a>
            <a href="#"><img id="icon2" class="" src="/assets/img/icons/Facebook.png" alt=""></a>
            <a href="#"><img class="" src="/assets/img/icons/instagram.png" alt=""></a>
          </div>

        </div>

      </div>

    </div>
  </section>

{% endblock %}
{% block endbody %}
  {% webpack_entry_js 'home/home' %}
{% endblock %}
