{# Based on Bootstrap 4 v4.3.1 #}
<div class="form-group">
  <div class="form-check">
    <input type="checkbox"
           id="{{ ownerId }}_{{ id }}"
           class="form-check-input{% if validate and isValid == false %} is-invalid{% endif %}"
           name="{{ ownerId }}_{{ id }}"
           aria-describedby="{{ id }}Help"
           value="{{ value }}"
           {% if required %} required="required"{% endif %}
           {% if readonly %} readonly="readonly"{% endif %}
           {% if disabled %} disabled="disabled"{% endif %}
           {% if value == true %}checked{% endif %}
    />
    <label class="form-check-label ml-1" for="{{ ownerId }}_{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
    <div class="invalid-feedback">
      {{ error }}
    </div>
  </div>
  {% if description | length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
  {% endif %}
</div>