{# Based on Bootstrap 4 v4.3.1 #}
<div class="form-group">
  <label class="{% if sr_only %}sr-only{% endif %}" for="{{ ownerId }}_{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
  <div class="input-group date" id="{{ ownerId }}_{{ id }}" data-target-input="nearest">
    <div class="input-group-prepend" data-target="#{{ ownerId }}_{{ id }}" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
    </div>
    <input type="text"
           id="{{ ownerId }}_{{ id }}"
           class="form-control datetimepicker-input{% if validate and isValid == false %} is-invalid{% endif %}"
           data-target="#{{ ownerId }}_{{ id }}"
           name="{{ ownerId }}_{{ id }}"
           aria-describedby="{{ id }}Help"
           placeholder="{{ placeholder }}"
           value="{{ value }}"
           {% if required %} required="required"{% endif %}
           {% if readonly %} readonly="readonly"{% endif %}
           {% if disabled %} disabled="disabled"{% endif %}
    />
    <div class="invalid-feedback">
      {{ error }}
    </div>
  </div>
  {% if description | length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
  {% endif %}
</div>
