{# Based on Bootstrap 4 v4.3.1 #}
<div class="custom-file mb-2">
  <input type="file"
         id="{{ ownerId }}_{{ id }}_file"
         class="custom-file-input{% if validate and isValid == false %} is-invalid{% endif %}"
         name="{{ ownerId }}_{{ id }}_file"
         placeholder="{{ placeholder }}"
         aria-describedby="{{ id }}Help"
           {% if required %} required="required"{% endif %}
           {% if readonly %} readonly="readonly"{% endif %}
           {% if disabled %} disabled="disabled"{% endif %}
  />
  <label class="custom-file-label" for="{{ ownerId }}_{{ id }}_file" data-browse="Sélectionner">{{ placeholder }}</label>
  <div class="invalid-feedback">
    {{ error }}
  </div>
  {% if description | length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
  {% endif %}
</div>
