<label for="{{ ownerId }}_{{ id }}" class="sr-only">Hidden</label>
<input type="hidden" id="{{ ownerId }}_{{ id }}" name="{{ ownerId }}_{{ id }}"
    value="{{ value }}" required="required" readonly="readonly"
/>