<div class="form-group">
    <label for="{{ ownerId }}_{{ id }}" {% if sr_only %} class="sr-only"
        {% endif %}
    >Password</label> <input name="{{ ownerId }}_{{ id }}" type="password"
        id="{{ ownerId }}_{{ id }}"
        class="form-control{% if validate and isValid == false %} is-invalid{% endif %}"
        placeholder="{{ placeholder }}" aria-describedby="{{ id }}Help"
        {% if required %} required="required" {% endif %} {% if readonly %} readonly="readonly"
        {% endif %}
    />
    <div class="invalid-feedback">
        {{ error }}
    </div>
    {% if description | length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
    {% endif %}
</div>