<label class="{% if sr_only %}sr-only{% endif %}" for="{{ ownerId }}_{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">&#9990;</span>
  </div>
  <input type="text"
         id="{{ ownerId }}_{{ id }}"
         class="form-control{% if validate and isValid == false %} is-invalid{% endif %}"
         name="{{ ownerId }}_{{ id }}"
         aria-describedby="{{ id }}Help"
         placeholder="{{ placeholder }}"
         value="{{ value }}"
         {% if pattern %} pattern="{{ pattern }}" {% endif %}
           {% if required %} required="required"{% endif %}
           {% if readonly %} readonly="readonly"{% endif %}
           {% if disabled %} disabled="disabled"{% endif %}
  />
  <div class="invalid-feedback">
    {{ error }}
  </div>
</div>
{% if description | length > 0 %}
  <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
{% endif %}
