{# Based on Bootstrap 4 v4.3.1 #}
<div class="form-group">
    <select class="custom-select{% if validate and isValid == false %} is-invalid{% endif %}"
        id="{{ ownerId }}_{{ id }}"
        name="{{ ownerId }}_{{ id }}"
        {% if required %} required="required" {% endif %}
        {% if readonly %} readonly="readonly" {% endif %}
        {% if disabled %} disabled="disabled" {% endif %}
        {% if multiple %} multiple="multiple" {% endif %}>
        {% if selected == null %}
            {% if placeholder %}
                <option disabled selected value="">{{ placeholder }}</option>
            {% endif %}
        {% else %}
            {% if placeholder %}
                <option disabled value="">{{ placeholder }}</option>
            {% endif %}
        {% endif %}
        {% for val in values %}
            {% if selected == val.option_index %}
                <option selected value="{{ val.option_index }}">{{ val.option_name }}</option>
            {% else %}
                {% if multiple %}
                    {% set found = false %}
                    {% for ms in multipleSelected %}
                        {% if ms == val.option_index %}
                            <option selected value="{{ val.option_index }}">{{ val.option_name }}</option>
                            {% set found = true %}
                        {% endif %}
                    {% endfor %}
                    {% if found == false %}
                        <option value="{{ val.option_index }}">{{ val.option_name }}</option>
                    {% endif %}
                {% else %}
                    <option value="{{ val.option_index }}">{{ val.option_name }}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>
    <div class="invalid-feedback">
        {{ error }}
    </div>
    {% if description | length > 0 %}
        <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
    {% endif %}
</div>
