{# Based on Bootstrap 4 v4.3.1 #}
<div class="form-group">
  <label class="{% if sr_only %}sr-only{% endif %}" for="{{ ownerId }}_{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
  <div class="input-group">
    {#<div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-edit"></i></span>
    </div>#}
    <textarea class="form-control{% if validate and isValid == false %} is-invalid{% endif %}"
              id="{{ ownerId }}_{{ id }}"
              placeholder="{{ placeholder }}"
              name="{{ ownerId }}_{{ id }}"
              aria-describedby="{{ id }}Help"
              value="{{ value }}"
           {% if required %} required="required"{% endif %}
           {% if readonly %} readonly="readonly"{% endif %}
           {% if disabled %} disabled="disabled"{% endif %}
    >{{ value }}</textarea>
    <div class="invalid-feedback">
      {{ error }}
    </div>
  </div>
  {% if description | length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
  {% endif %}
</div>

{#<div class="form-group">
  <label class="{% if sr_only %}sr-only{% endif %}" for="{{ ownerId }}_{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
  <input name="{{ ownerId }}_{{ id }}" type="hidden" placeholder="{{ placeholder }}">
  <div id="{{ ownerId }}_{{ id }}">
  </div>
</div>#}