<form id="{{ form.id }}" method="post" name="{{ form.name }}"
    class="form-signin" action="{{ url_for(form.action) }}"
>

    {% for key, row in rows %}
       {# {{ dump(key) }} #}

        {% if key == 'first_name' %}
        <div class="form-row">

            <div class="form-group col-md">
                {{ row | raw }}
            </div>
        {% elseif key == 'last_name' %}
            <div class="form-group col-md">
                {{ row | raw }}
            </div>
        </div>

         {% elseif key == "email" %}
            <div class="form-row">
            <div class="form-group col-md">
                {{ row | raw }}
            </div>
            </div>
        {#{% elseif key == "language" %}

            <div class="form-group col-md-1">
                {{ row | raw }}
            </div>
            </div>

        {% elseif key == 'level' %}
            <div class="form-row">

            <div class="form-group col-md">
                {{ row | raw }}
            </div>

        {% elseif key == "type" %}
            <div class="form-group col-md">
                {{ row | raw }}
            </div>

        {% elseif key == "choice" %}

            <div class="form-group col-md">
                {{ row | raw }}
            </div>
            </div>

            <div class="generate_field">
            </div>

        {% elseif key == "InfosBulles" %}

            <div class="mb-3">
                {{ row | raw }}
            </div>

        {% elseif key == "answer" %}

            <div class="mb-3">
                {{ row | raw }}
            </div> #}


        {% endif %}
    {% endfor %}

    <span>* obligatoire</span>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
</form>
