<form id="{{ form.id }}" method="post" name="{{ form.name }}"
    class="form-signin" action="{{ url_for(form.action) }}"
>
    {% for row in rows %}
    {{ row | raw }}
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>

</form>
