{% extends 'layout/layout.twig' %}
{% block css %}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="d-flex w-100 h-100 flex-column">
        {{ login_form | raw }}
    </div>

{% endblock %}

{% block endbody %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.min.js"></script>
    <script>
        /* global CryptoJS */

        $(document).ready(function () {
            var $login = $('#login');

            // Attach a submit handler to the form
            $login.submit(function () { // console.log('submit');

                var $passwd = $('#login_inputPassword'),
                    token = $('#login_token').val();

                // console.log(token);
                // console.log($passwd.val());
                var hash = CryptoJS.SHA256($passwd.val());
                var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
                // console.log(hashInBase64);
                var hmac = CryptoJS.HmacSHA256(hashInBase64, token);
                var hmacInBase64 = CryptoJS.enc.Base64.stringify(hmac);
                // console.log(hmacInBase64);
                $passwd.val(hmacInBase64);
            }); // end $login.submit()
        }); // end (document)

    </script>
{% endblock %}
