{% extends 'layout/layout.twig' %}
{% block css %}
    <style type="text/css">
        body {
            color: #404E67;
            background: #F5F7FA;
            font-family: 'Open Sans', sans-serif;
        }
        .table-wrapper {

            margin: 30px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }
        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }
        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }
        .table-title .add-new i {
            margin-right: 4px;
        }
        table.table {
            table-layout: fixed;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        /*table.table th:last-child {*/
        /*    width: 100px;*/
        /*}*/
        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }
        table.table td a.add {
            color: white;
        }
        table.table td a.edit {
            color: white;
        }

        table.table td i {
            font-size: 19px;
        }
        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }
        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }
        table.table .form-control.error {
            border-color: #f50000;
        }
        table.table td .add {
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'backoffice/navBar.twig' %}

    <div class="container-fluid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Liste </b>des clients</h2></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Tel Fix</th>
                    <th scope="col">Tel Mobile</th>
                    <th scope="col">E-mail</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for cli in list %}
                    <tr>
                        <td>{{ cli.client_last_name }}</td>
                        <td>{{ cli.client_first_name }}</td>
                        <td>{{ cli.client_address }}</td>
                        <td>{{ cli.client_postal_code }}</td>
                        <td>{{ cli.client_city }}</td>
                        <td>{{ cli.client_desk_phone }}</td>
                        <td>{{ cli.client_phone }}</td>
                        <td>{{ cli.client_email }}</td>
                        <td>
                            <a class="btn add btn-info" href="#"  title="Add" role="button" data-toggle="tooltip">ADD</a>
                            <a class="btn edit btn-warning" href="#"  title="Edit" role="button" data-toggle="tooltip">EDIT</a>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new">Add New</button>
{#                <a href="create" type="button" class="btn btn-info ">test</a>#}
            </div>
        </div>
    </div>

{#    <div class="container">#}
{#        <table class="table table-hover">#}
{#            <thead class="">#}
{#            <tr>#}
{#                <th scope="col">Nom</th>#}
{#                <th scope="col">Prenom</th>#}
{#                <th scope="col">Adresse</th>#}
{#                <th scope="col">Code Postal</th>#}
{#                <th scope="col">Ville</th>#}
{#                <th scope="col">Tel Fix</th>#}
{#                <th scope="col">Tel Mobile</th>#}
{#                <th scope="col">E-mail</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for cli in list %}#}
{#                <tr>#}
{#                    <td>{{ cli.client_last_name }}</td>#}
{#                    <td>{{ cli.client_first_name }}</td>#}
{#                    <td>{{ cli.client_address }}</td>#}
{#                    <td>{{ cli.client_postal_code }}</td>#}
{#                    <td>{{ cli.client_city }}</td>#}
{#                    <td>{{ cli.client_desk_phone }}</td>#}
{#                    <td>{{ cli.client_phone }}</td>#}
{#                    <td>{{ cli.client_email }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}


{% endblock %}

{% block endbody %}
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("dded");

            $('[data-toggle="tooltip"]').tooltip();
            var actions = $("table td:last-child").html();
            // Append table with add row form on add new button click
            $(".add-new").click(function(){
                $(this).attr("disabled", "disabled");
                var index = $("table tbody tr:last-child").index();
                var row = '<tr>' +
                    '<td><input type="text" class="form-control" name="lasteName" id="lasteName"></td>' +
                    '<td><input type="text" class="form-control" name="firstName" id="firstName"></td>' +
                    '<td><input type="text" class="form-control" name="address" id="address"></td>' +
                    '<td><input type="text" class="form-control" name="postalCode" id="postalCode"></td>' +
                    '<td><input type="text" class="form-control" name="city" id="city"></td>' +
                    '<td><input type="text" class="form-control" name="deskPhone" id="deskPhone"></td>' +
                    '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +
                    '<td><input type="text" class="form-control" name="email" id="email"></td>' +

                    '<td>' + actions + '</td>' +
                    '</tr>';
                $("table").append(row);
                $("table tbody tr").eq(index+1).find(".add, .edit").toggle();
                $('[data-toggle="tooltip"]').tooltip();
            });
            // Add row on add button click
            $(document).on("click", ".add", function(){
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                input.each(function(){
                    if(!$(this).val()){
                        $(this).addClass("error");
                        empty = true;
                    } else{
                        $(this).removeClass("error");
                    }
                });
                $(this).parents("tr").find(".error").first().focus();
                if(!empty){
                    input.each(function(){
                        $(this).parent("td").html($(this).val());
                    });
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").removeAttr("disabled");
                }
            });
            // Edit row on edit button click
            $(document).on("click", ".edit", function(){
                $(this).parents("tr").find("td:not(:last-child)").each(function(){
                    $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").attr("disabled", "disabled");
            });
        });


    </script>
{% endblock %}
