{% extends 'layout/layout.twig' %}
{% block css %} {% endblock %}
{% block body %}
    {% include 'backoffice/navBar.twig' %}

    <div class="container-fluid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Liste </b>des clients</h2></div>
                </div>
            </div>
            <table id="listOfClients" class="table table-striped table-hover w-100">
                <thead class="thead-light text-center">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    {# <th scope="col">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Tel Fix</th>
                    <th scope="col">Tel Mobile</th>#}
                    <th>E-mail</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new">Add New</button>
{#                <a href="create" type="button" class="btn btn-info ">test</a>#}
            </div>
        </div>
    </div>
    <div class="container pt-5">
        {{ client_form | raw }}
    </div>


{% endblock %}

{% block endbody %}
{% webpack_entry_js 'backoffice/client/client' %}
{% endblock %}
