{% extends 'layout/layout.twig' %}
{% block css %}{% endblock %}

{% block body %}
    <div class="d-flex w-100 h-100 flex-column">
        {% include 'backoffice/navBar.twig' %}
    </div>

{% endblock %}

{% block endbody %}{% endblock %}
