<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span
      class="navbar-toggler-icon"></span> </button> -->

    <!-- menu -->
    {# <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Gestion utilisateur</button>
          <button class="dropdown-item" type="button">Gestion produit</button>
          <button class="dropdown-item" type="button">Inscription / Connexion</button>
          <button class="dropdown-item" type="button">Echanges interne</button>
        </div>
      </div> #}

      <div class="dropdown mr-2"> <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('boClient') }}">Gestion des utilisateurs</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ "now"|date("m/d/Y") }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('boHome') }}">LOGO
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Notifications
                    <span class="badge badge-primary">4</span>
                </a>
            </li>
        </ul>

    </div>

    <div class="">
        <h5>{{ account.email }}</h5>
        {# <h6>Admin</h6> #}
    </div>
</nav>
