<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="{{ META_ROBOTS ?: 'all' }}"/>
    <meta name="description" content="{{ meta_description }}"/>
    <meta name="author" content="blstef & HeavyTech"/>

    <link rel="alternate" hreflang="x-default" href="{{ APP_URL }}"/>
    <link rel="canonical" href="{{ APP_URL }}"/>

    <link rel="shortcut icon" href="/favicon.ico">
    {# icons #}
    {% block icons %}{% endblock %}

    <base href="{{ current_url() }}"/>

    <title>{{ html_title ?: 'Title' }}</title>
    {% if token is not empty %}
            <meta http-equiv="X-Token" content="{{ token }}">
    {% endif %}
    {% webpack_entry_css 'layout/layout' %}
    {% block css %}{% endblock %}
  </head>
  <body>
    {# <div class="w-100 h-100"> #}
    <!-- <a href="{{ url_for('root') }}"> <h1 data-text="VITOBOIS"></h1> </a> -->

    {% block body %}{% endblock %}
    {# </div> #}

    {# <footer class="container-fluid mt-auto">
      <div class="text-center">
        <a href="#home"><img src="/assets/img/icons/Tracé 211up.png" alt=""></a>
        <p>blstef & HeavyTech project (c) 2020</p>
      </div>
    </footer> #}

    {% webpack_entry_js 'layout/layout' %}
    {% block endbody %}{% endblock %}
  </body>
</html>
